\angular-gestion-documental\node_modules
\angular-gestion-documental\node_modules\*

node-server-gestion-documental\node_modules/*

angular-gestion-documental/node_modules
angular-gestion-documental\node_modules
